{% extends 'baselogin.html' %}
{% block title %} Patient details{% endblock title %}
{% block form %}

<h1>Patient Details</h1>
<br>
<table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">SRF ID</th>
                <th scope="col">BED TYPE</th>
                <th scope="col">HCODE</th>
                <th scope="col">Oxygen Level</th>
                <th scope="col">NAME</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{data.srfid}}</td>
                <td>{{data.bedtype}}</td>
                <td>{{data.hcode}}</td>
                <td>{{data.spo2}}</td>
                <td>{{data.pname}}</td>
                <td>{{data.pphone}}</td>
                <td>{{data.paddress}}</td>
                
              </tr>
      
            </tbody>
          </table>


      
   
    






{% endblock form %}
